# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [45]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [14]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

print(cars1.head(), "\n-----------------------------------------------------")
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
-----------------------------------------------------
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [15]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [16]:
cars1 = cars1.loc[:,'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [27]:
print("Cars 1 has", cars1.shape[0], "rows and Cars 2 has", cars2.shape[0], "rows")

Cars 1 has 198 rows and Cars 2 has 200 rows

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [67]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [68]:
owners = np.random.randint(15000, high=73000, size = cars.shape[0], dtype='l')
owners

array([23873, 30651, 43493, 26798, 25840, 22555, 42450, 55828, 18389,
       35453, 23162, 46010, 44591, 19592, 25445, 47655, 64644, 57083,
       48020, 70222, 21926, 31483, 20317, 43876, 65869, 51235, 18347,
       29228, 51004, 56575, 65543, 63255, 36175, 16241, 42021, 48955,
       45453, 39599, 72869, 30672, 15169, 22457, 70200, 42792, 52085,
       53809, 55406, 37020, 54075, 56275, 43694, 45632, 18180, 21795,
       49003, 61200, 52446, 21473, 61172, 67275, 17633, 46669, 70305,
       64082, 20145, 31906, 44860, 48682, 36358, 46701, 17160, 54558,
       69519, 46370, 69659, 59728, 27341, 31879, 68907, 71569, 72823,
       68108, 21444, 27802, 59835, 50002, 50260, 71106, 47643, 45304,
       25278, 36685, 68410, 38715, 33785, 27026, 70565, 18334, 62049,
       17732, 45289, 62871, 42439, 46492, 70933, 43678, 53168, 20137,
       60900, 25733, 23748, 27287, 38354, 72785, 42399, 59133, 29524,
       37025, 22364, 57259, 30419, 60724, 35915, 29191, 63496, 69722,
       40183, 51054, 69671, 51923, 19983, 24106, 43187, 33261, 61645,
       62622, 60574, 36602, 58977, 72240, 58476, 18523, 45720, 16019,
       15207, 34285, 29304, 23721, 63634, 51487, 38840, 32998, 17844,
       39946, 39598, 30288, 68561, 23951, 21630, 25229, 54829, 70157,
       36673, 36587, 21454, 60913, 56730, 31637, 71644, 29528, 21230,
       50684, 30599, 30945, 24817, 19337, 72959, 20243, 41629, 42762,
       34628, 48695, 66772, 63341, 29507, 39628, 40747, 44801, 71794,
       31482, 26481, 69946, 16984, 53829, 23702, 19130, 18583, 38156,
       41207, 56788, 72591, 70190, 72891, 58513, 27185, 33396, 16564,
       43165, 33489, 51365, 66969, 61693, 59127, 26475, 25250, 27848,
       40127, 60054, 68647, 46323, 36200, 44393, 52578, 47379, 70059,
       27040, 29400, 51046, 51468, 64965, 29476, 34690, 55284, 21376,
       45435, 37518, 65431, 22680, 54027, 33599, 29933, 68182, 56790,
       23946, 69611, 33341, 64512, 25492, 65858, 26430, 50365, 68272,
       19846, 19722, 27324, 65381, 59039, 15955, 64834, 34483, 65717,
       22712, 18712, 26371, 18737, 67649, 38437, 38956, 26098, 31496,
       34888, 16536, 49166, 39418, 45225, 49007, 44448, 48901, 18692,
       65321, 22227, 15756, 36959, 52747, 58874, 21306, 69576, 60512,
       16535, 35576, 45860, 49031, 33862, 56755, 67560, 58821, 33811,
       48077, 35769, 53732, 62632, 52453, 49454, 33598, 53620, 32653,
       35662, 41011, 66711, 62569, 49088, 30158, 24270, 55610, 56510,
       28327, 65688, 31782, 72851, 20183, 70938, 52276, 36126, 63186,
       66821, 39523, 65004, 69532, 70108, 35097, 40934, 70833, 65795,
       72876, 50160, 20905, 59502, 62839, 50433, 46687, 19910, 29323,
       39831, 16221, 60709, 58578, 46366, 23106, 49125, 61323, 35117,
       54387, 45656, 21098, 61447, 71541, 49565, 21384, 48694, 22634,
       67979, 18743, 69135, 47606, 28259, 68403, 41125, 32182, 66562,
       19315, 64657, 25474, 57537, 50347, 19349, 52481, 53651, 49307,
       22264, 15886, 22312, 28863, 24351, 62343, 37181, 36212, 36692,
       51916, 70185, 35044, 64389, 27758, 26080, 62177, 61075, 48210,
       42062, 43573])

### Step 8. Add the column owners to cars

In [70]:
cars['owners'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,23873
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,30651
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,43493
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,26798
4,17.0,8,302,140,3449,10.5,70,1,ford torino,25840